html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-color: lightgray;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
